.navbar{
    width:100%;
    height:60px;
    background:linear-gradient(rgb(69, 61, 61),black);
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
.links{
    margin-right: 50px;
    display: flex;
    align-items: center;
}
.links a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    margin-left: 50px;
}

.links a:hover{
    color: rgb(21, 240, 9);
}